
.images {position: relative;
  text-align: center;

}
.p1 {  position: absolute;
  top: 0;
  left:0;
  z-index: 1;
 width:500px}

 h1 {

color:#fefbb8;
position: absolute;
    top: 80%;
    left: 50%;
    font-family: impact;
    font-size:70px;
    transform: translate(-50%, -50%);
 }
 .img-thimbnail {

width: 100%;
height:auto;


 }
